<html>
  
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

<body>

<form role="form" class="text-center" method="post" action="/submit-form/"> <!--telling the form where to send user input-->
<div class="jumbotron">
  <h1><small>The</small> Indie-Go-Go <br />scheduler <small>(beta)</small></h1> 
  <p>
  Meet with an expert to help your campaign today!
  </p>
</div>
  <br />
  <br />
  <label>Submit a mobile number (No characters, example <a href="tel:8184854646">18184854646</a>):</label><br /><input type="text" name="number" placeholder="enter a SMS capable number" size="40" />
  <br />
  <br />
  <p>
  <button type="submit" class="btn btn-info btn-lg">Submit for help</button> 
  </p>
  <br />
  <br />
  <p class="lead">
    You will be connected to your own personal Indiegogo expert within 24-hours.<br /> They will help you with setup and answer any questions you may have.
  </p>
  <p>
   Check if you have anything scheduled yet on our <a href="http://www.indie-go-go.com/appointments" target="_blank"><strong>Appointments page</strong>.</a>
  </p>
  <p>
    Click here to read our awesome <a href="http://go.indiegogo.com/blog" target="_blank"><strong>blog</strong>!</a>
  </p>
  
  
  
</form>  


</body>
  
</html>
