<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" /> <!--import the style-->
  </head>

<body>
  
<div id="form">
<form method="post" action="/submit-form/"> <!--telling the form where to send user input-->

  <h1>INDIE-GO-GO <br />scheduler</h1> (beta)
  <p>
  Schedule an expert to help your campaign today!
  </p>
  
  <label>Submit a <strong>mobile</strong> number (Please no characters ex. <a href="tel:8184854646">1.818.485.GOGO</a>):</label><input type="text" name="number" size="40" />
  
  <p>
  <input class="databutton" type="submit" value="Submit for help"  /> 
  </p>
  <p>
  You will be connected to an Indiegogo expert within 24-hours to schedule a helpful demo and answer any questions you may have.
  </p>
  <p>
  You can see if you have anything scheduled yet on our <a href="http://indie-go-go.com/appointments" target="_blank"><strong>Appointments page</strong>.</a>
  </p>
  <p>
    Click here to read our awesome <a href="http://go.indiegogo.com/blog" target="_blank"><strong>blog</strong>!</a>
  </p>
  
  
  
</form>  
</div>

</body>
  
</html>
