<html>
  
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

<body>
  
<form fole="form" class="text-center">

<div class="jumbotron">  
  <h2>INDIE-GO-GO scheduler list</h2>  
  
  <p><b>Hooray!</b> Let's see if your appointment is listed below:</p>
  <br />
  <br />
</div>
  {% for m in messages %} 
  "{{m.body}}" <br />
  {% endfor %}
  
  <br />
  <br />
  </p>
  
  <p>Try submitting again and go back to our main <a href="http://www.indie-go-go.com">page.</a></p>
  <p><b>Or...Ask for Help -</b>
     The Indiegogo Help Desk can assist
    <a href="http://support.indiegogo.com/hc/en-us" target="_blank">Help Center</a>
   
  </p>  
</form>

</body>
  
</html>
