<html>
  
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

<body>
  
<form fole="form" class="text-center">

<div class="jumbotron">  
  <h2><small>The</small> INDIE-GO-GO <br />appointments page</h2>  
  
  <p><b>Hooray!</b> Let's see if your appointment is listed below:</p>
  <br />
  <br />
</div>
  {% for m in messages %} 
  "{{m.body}}" <br />
  {% endfor %}
  
  <br />
  <br />
  </p>
  
  <p>Don't see your information above? Try submitting again to our main <a href="http://www.indie-go-go.com">page.</a></p>
  <p><b>Or...</b>Ask for Help -
     The Indiegogo Help Desk can assist
    <a href="http://support.indiegogo.com/hc/en-us" target="_blank">Help Center</a>
   
  </p>  
</form>

</body>
  
</html>
