<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" /> <!--import the style-->
  </head>

<body>
  
<div id="form">

  <h2>Indiegogo help appointment list</h2>  
  
  <p><b>Hooray!</b> Let's see if you appointment request is listed below:</p>
  <br />
  <br />
  {% for m in messages %} 
  "{{m.body}}" <br />
  {% endfor %}
  
  <br />
  <br />
  </p>
  
  <p>Try submitting again and go back to the previous <a href="http://indiegogo.com">page.</a></p>
  <p><b>Or...ask for Help -</b>
     The Indiegogo Help Desk can assist
    <a href="http://support.indiegogo.com/hc/en-us" target="_blank">Help Center</a>
   
  </p>  
</div>

</body>
  
</html>
